html, body {margin: 0; height: 100%; overflow: hidden}

.App {
    height: 100vh;
    background-color: #22232B;
}

#intro {
    margin-top: 50px;
    color: #e6e6e6;
}

.view-container {
    width: 100%;
    height: 100vh;
    padding: 80px;
    background-color: #f8f8f8;
}


/* Nav */

.navbar {
    height: 100vh;
    width: 25%;
    background-color: #8CAA8A;
    padding: 10px;
    padding-right: 0px;
    grid-area: nav;
}

#logo {
    width: auto;
    height: 50px;
}

#menu {
    width: 100%;
    list-style: none;
    height: 100%;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.menu-item:hover {
    transition: 0.5s ease-in-out;
    background-color: #4A844D;
    transform: translateX(4px);
}

.menu-item:hover a {
    color: #e6e6e6;
    transition: 0.2s ease-in;
}

.menu-btn {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #e6e6e6;
    
}
.app-wrapper {
    display: flex;
}

.app-container {
    padding: 80px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "metrics metrics metrics metrics"
        "inventory inventory inventory inventory"
        "inventory inventory inventory inventory"
        "brands brands history history";
}

.inventory {
    grid-area: inventory;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: grid;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-item {
    background-color: #e6e6e6;
    max-height: 50%;
    min-height: 200px;
    border-radius: 5px;
    padding: 4px;
    color: #746557;
    margin: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s ease-out;
    
}

.list-item:hover {
    transform: translateY(-10px);
}

.active {
    width: 100%;
    height: 100%;
}

.item-brand {
    font-size: 15px;
    color: #e6e6e6;
}

.item-header {
    font-size: 20px
}

.item-price {
    font-size: 12px;
}

.item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.custom-btn {
    transform: translateX(10px);
    color: #e6e6e6;
    border: none;
    border-radius: 0;
    transition: 0.5s ease-in-out;
    max-width: 400px;
}

.custom-btn:hover {
    color: white;
    transform: translateX(15px);
}

.custom-btn:nth-child(3):hover {
    background-color: red;
}

.brands {
    grid-area: brands;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.history {
    grid-area: history;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.metrics {
    grid-area: metrics;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #e6e6e6;
    padding: 80px;
    border-radius: 8px;
}

/* brands */ 
.brands {
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: auto;

}

.brand {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: auto;
    height: auto;
}

.brand-img {
    max-width: 75%;
}

/* History */

.history-item {
    width: 100%;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    color: #746557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4A844D;
    z-indeX: 9999;
}

@media screen and (max-width: 1366px) {
    .inventory {
        grid-template-columns: repeat(3, 1fr);
    }

    .brands {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1080px) {
    .inventory {
        grid-template-columns: repeat(2, 1fr);
    }

    .brands {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Animations */


@keyframes itemBtnOut {
    to {
        transform: translateX(0px);
    }
}

